@media only screen and (max-width: 1500px){
    .container {
        grid-template-columns: 1fr 320px 320px 320px 1fr;
    } 
    .section-mainlogo {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
    }
    .section-maintitle {
        grid-column: 2 / 4;
    }
    .section-1 {
        grid-column: 2 / 4;
        grid-row: 4 / 10;
    }
    .section-2 {
        grid-column: 4 / 4;
        grid-row: 4 / 12;
    }
    .section-3 {
        grid-column: 2 / 5;
        grid-row: 12 / 16;
    }
    .section-4 {
        grid-column: 2 / 4;
        grid-row: 16 / 20;
    }
    .section-5 {
        grid-column: 4 / 5;
        grid-row: 16 / 20;
    }
    .section-6 {
        grid-column: 2 / 5;
        grid-row: 20 / 26;
    }
    .box-1 {
        animation: slide-bl-1500 .5s cubic-bezier(.25,.46,.45,.94)  0.00s both;
    }
    .box-2 {
        animation: slide-bl0-1500 .5s cubic-bezier(.25,.46,.45,.94)  0.04s both;
    }
    .box-2-1 {
        animation: slide-bl0-1-1500 .5s cubic-bezier(.25,.46,.45,.94) 0.08s both;
    }
    .box-2-2 {
        animation: slide-bl0-2-1500 .5s cubic-bezier(.25,.46,.45,.94) 0.12s both;
    }
    .box-2-3 {
        animation: slide-bl0-3-1500 .5s cubic-bezier(.25,.46,.45,.94) 0.16s both;
    }
    .box-3 {
        animation: slide-bl1-1500 .5s cubic-bezier(.25,.46,.45,.94) 0.20s both;
    }
    .box-4 {
        /* background: url("https://malleable-currant-5dc.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb5113e4d-400e-43b1-bb69-455838950153%2Fcontent3-cover.png?table=block&id=6844f0f3-c6e9-40e9-9416-f8b466c8033c&spaceId=a43e8e99-3697-4b79-ac94-491decf6ba64&width=2000&userId=&cache=v2"); */
        /* background-size: auto auto; */
        /* background-position: right; */
        animation: slide-bl2-1500 .5s cubic-bezier(.25,.46,.45,.94) 0.24s both;
    }
    .box-5 {
        /* background: url("https://malleable-currant-5dc.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb5113e4d-400e-43b1-bb69-455838950153%2Fcontent3-cover.png?table=block&id=6844f0f3-c6e9-40e9-9416-f8b466c8033c&spaceId=a43e8e99-3697-4b79-ac94-491decf6ba64&width=2000&userId=&cache=v2"); */
        /* background-size: auto auto; */
        /* background-position: right; */
        animation: slide-bl3-1500 .5s cubic-bezier(.25,.46,.45,.94) 0.28s both;
    }
    .box-5 h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1100px){
    .container {
        grid-template-columns: 1fr 320px 320px 1fr;
    } 
    .section-mainlogo {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    .section-maintitle {
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
    .section-1 {
        grid-column: 2 / 4;
        grid-row: 4 / 10;
    }
    .section-2 {
        grid-column: 2 / 4;
        grid-row: 10 / 14;
    }
    .section-3 {
        grid-column: 2 / 4;
        grid-row: 14 / 18;
    }
    .section-4 {
        grid-column: 2 / 4;
        grid-row: 18 / 22;
    }
    .section-5 {
        grid-column: 2 / 4;
        grid-row: 22 / 26;
    }
    .section-6 {
        grid-column: 2 / 4;
        grid-row: 26 / 30;
    }
    .box-1 {
        animation: slide-bl-1100 .5s cubic-bezier(.25,.46,.45,.94)  0.00s both;
    }
    .box-2 {
        animation: slide-bl0-1100 .5s cubic-bezier(.25,.46,.45,.94)  0.04s both;
    }
    .box-2-1 {
        animation: slide-bl0-1-1100 .5s cubic-bezier(.25,.46,.45,.94) 0.08s both;
    }
    .box-2-2 {
        animation: slide-bl0-2-1100 .5s cubic-bezier(.25,.46,.45,.94) 0.12s both;
    }
    .box-2-3 {
        animation: slide-bl0-3-1100 .5s cubic-bezier(.25,.46,.45,.94) 0.16s both;
    }
    .box-3 {
        animation: slide-bl1-1100 .5s cubic-bezier(.25,.46,.45,.94) 0.20s both;
    }
    .box-4 {
        /* background: url("https://malleable-currant-5dc.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb5113e4d-400e-43b1-bb69-455838950153%2Fcontent3-cover.png?table=block&id=6844f0f3-c6e9-40e9-9416-f8b466c8033c&spaceId=a43e8e99-3697-4b79-ac94-491decf6ba64&width=2000&userId=&cache=v2"); */
        /* background-size: auto auto; */
        /* background-position: right; */
        animation: slide-bl2-1100 .5s cubic-bezier(.25,.46,.45,.94) 0.24s both;
    }
    .box-5 {
        /* background: url("https://malleable-currant-5dc.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb5113e4d-400e-43b1-bb69-455838950153%2Fcontent3-cover.png?table=block&id=6844f0f3-c6e9-40e9-9416-f8b466c8033c&spaceId=a43e8e99-3697-4b79-ac94-491decf6ba64&width=2000&userId=&cache=v2"); */
        /* background-size: auto auto; */
        /* background-position: right; */
        animation: slide-bl3-1100 .5s cubic-bezier(.25,.46,.45,.94) 0.28s both;
    }
    .box-5 h1 {
        font-size: 32px;
    }
}
@media only screen and (max-width: 720px){
    .container {
        grid-template-columns: 1fr 360px 1fr;
    } 
    .section-mainlogo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .section-maintitle {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .section-1 {
        grid-column: 2 / 3;
        grid-row: 3 / 7;
    }
    .section-2 {
        grid-column: 2 / 3;
        grid-row: 7 / 15;
    }
    .section-3 {
        grid-column: 2 / 3;
        grid-row: 15 / 19;
    }
    .section-4 {
        grid-column: 2 / 3;
        grid-row: 19 / 23;
    }
    .section-5 {
        grid-column: 2 / 3;
        grid-row: 23 / 27;
    }
    .section-6 {
        grid-column: 2 / 3;
        grid-row: 27 / 31;
    }
    #main-title-wrapper {
        margin-top: 0;
    }
    #main-title {
        font-size: 1.6rem;
    }
    .largebox-title {
        display: table;
        height: 40px;
        font-size: 24px;
    }
    .box-1 {
        width: 100%;
        height: 368px;
        background-color: white;
        box-shadow: 0px 0px 24px 12px rgba(0, 0, 0, 0.08);
        display: block;
        overflow: hidden;
        
        animation: slide-bl-760 .5s cubic-bezier(.25,.46,.45,.94)  0.00s both;
    }
    .box-1-shadow {
        width: 328px;
        height: 368px;
    }
    .box-2 {
        width: 328px;
        animation: slide-bl0-760 .5s cubic-bezier(.25,.46,.45,.94)  0.04s both;
    }
    .box-2-shadow {
        width: 328px;
    }
    .box-2-1 {
        width: 328px;
        animation: slide-bl0-1-760 .5s cubic-bezier(.25,.46,.45,.94) 0.08s both;
    }
    .box-2-1-shadow {
        width: 328px;
    }
    .box-2-2 {
        width: 328px;
        animation: slide-bl0-2-760 .5s cubic-bezier(.25,.46,.45,.94) 0.12s both;
    }
    .box-2-2-shadow {
        width: 328px;
    }
    .box-2-3 {
        width: 328px;
        animation: slide-bl0-3-760 .5s cubic-bezier(.25,.46,.45,.94) 0.16s both;
    }
    .box-2-3-shadow {
        width: 328px;
    }
    .box-3 {
        width: 328px;
        background-size: 250%;
        background-position: center;
        animation: slide-bl1-760 .5s cubic-bezier(.25,.46,.45,.94) 0.20s both;
    }
    .box-4 {
        width: 328px;
        /* background-size: 250%; */
        /* background-position: right; */
        animation: slide-bl2-760 .5s cubic-bezier(.25,.46,.45,.94) 0.24s both;
    }
    .box-5 {
        width: 328px;
        /* background-size: 250%; */
        /* background-position: right; */
        animation: slide-bl3-760 .5s cubic-bezier(.25,.46,.45,.94) 0.28s both;
    }
    .box-5 h1 {
        font-size: 24px;
    }
}