@keyframes slide-bl{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-1{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-2{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-3{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl1{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl2{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl3{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}

@keyframes slide-bl-1500{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-1500{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-1-1500{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-2-1500{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-3-1500{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl1-1500{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl2-1500{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl3-1500{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}

@keyframes slide-bl-1100{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-1100{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-1-1100{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-2-1100{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-3-1100{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl1-1100{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl2-1100{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl3-1100{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}

@keyframes slide-bl-760{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-760{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-1-760{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-2-760{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl0-3-760{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl1-760{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl2-760{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}
@keyframes slide-bl3-760{0%{transform:translateY(-100px) translateX(100px)}100%{transform:translateY(0) translateX(0)}}


@keyframes shadow-drop-2-center-box{0%{transform:translateZ(0);box-shadow:0 0 0 0 transparent}100%{transform:translateZ(50px);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}

/*----------------------
    헤더 보드 제어.
------------------------*/
#main-logo-wrapper {
    width: 100%;
    margin-top: 32px;
    margin-left: 16px;
}
#main-logo {
    width: 120px;
}
#main-title-wrapper {
    width: 100%;
    height: atuo;
    margin-left: 16px;
    margin-top: 20px;
}
#main-title {
    font-size: 3rem;
    font-weight: 700;
    color: black
}
/*----------------------
    헤더 보드 제어 끝.
------------------------*/
/*----------------------
    컨텐츠 보드 제어.
------------------------*/
.box-1 {
    height: 568px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.08);
    display: block;
    overflow: hidden;
    animation:slide-bl .5s cubic-bezier(.25,.46,.45,.94) both;
}
.box-1-shadow {
    height: 568px;
    margin: 16px;
    border-radius: 16px;
}
.box-1-shadow:hover {
    animation:shadow-drop-2-center-box .4s cubic-bezier(.25,.46,.45,.94) both;
}
.box-2 {
    float: left;
    width: 288px;
    height: 168px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.08);
    display: block;
    overflow: hidden;
    animation:slide-bl0 .5s cubic-bezier(.25,.46,.45,.94) 0.04s both;
}
.box-2-shadow {
    float: left;
    width: 288px;
    height: 168px;
    margin: 16px;
    border-radius: 16px;
}
.box-2-shadow:hover {
    animation:shadow-drop-2-center-box .4s cubic-bezier(.25,.46,.45,.94) both;
}
.box-2-1 {
    float: left;
    width: 288px;
    height: 168px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.08);
    display: block;
    overflow: hidden;
    animation:slide-bl0-1 .5s cubic-bezier(.25,.46,.45,.94) 0.08s both;
}
.box-2-1-shadow {
    float: left;
    width: 288px;
    height: 168px;
    margin: 16px;
    border-radius: 16px;
}
.box-2-1-shadow:hover {
    animation:shadow-drop-2-center-box .4s cubic-bezier(.25,.46,.45,.94) both;
}
.box-2-2 {
    float: left;
    width: 288px;
    height: 168px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.08);
    display: block;
    overflow: hidden;
    animation:slide-bl0-2 .5s cubic-bezier(.25,.46,.45,.94) 0.12s both;
}
.box-2-2-shadow {
    float: left;
    width: 288px;
    height: 168px;
    margin: 16px;
    border-radius: 16px;
}
.box-2-2-shadow:hover {
    animation:shadow-drop-2-center-box .4s cubic-bezier(.25,.46,.45,.94) both;
}
.box-2-3 {
    float: left;
    width: 288px;
    height: 168px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.08);
    display: block;
    overflow: hidden;
    animation:slide-bl0-3 .5s cubic-bezier(.25,.46,.45,.94) 0.16s both;
}
.box-2-3-shadow {
    float: left;
    width: 288px;
    height: 168px;
    margin: 16px;
    border-radius: 16px;
}
.box-2-3-shadow:hover {
    animation:shadow-drop-2-center-box .4s cubic-bezier(.25,.46,.45,.94) both;
}
.box-3 {
    height: 368px;
    border-radius: 16px;
    background: url("https://malleable-currant-5dc.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb5113e4d-400e-43b1-bb69-455838950153%2Fcontent3-cover.png?table=block&id=6844f0f3-c6e9-40e9-9416-f8b466c8033c&spaceId=a43e8e99-3697-4b79-ac94-491decf6ba64&width=2000&userId=&cache=v2");
    background-size: auto auto;
    background-position: center;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.08);
    display: block;
    overflow: hidden;
    animation:slide-bl1 .5s cubic-bezier(.25,.46,.45,.94) 0.20s both;
}
.box-3-shadow {
    height: 368px;
    margin: 16px;
    border-radius: 16px;
}
.box-3-shadow:hover {
    animation:shadow-drop-2-center-box .4s cubic-bezier(.25,.46,.45,.94) both;
}
.box-4 {
    height: 368px;
    border-radius: 16px;
    /* background: url("https://malleable-currant-5dc.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb5113e4d-400e-43b1-bb69-455838950153%2Fcontent3-cover.png?table=block&id=6844f0f3-c6e9-40e9-9416-f8b466c8033c&spaceId=a43e8e99-3697-4b79-ac94-491decf6ba64&width=2000&userId=&cache=v2"); */
    /* background-size: auto auto; */
    /* background-position: right; */
    background-color: yellow;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.08);
    display: block;
    overflow: hidden;
    animation:slide-bl2 .5s cubic-bezier(.25,.46,.45,.94) 0.24s both;
}
.box-4-shadow {
    height: 368px;
    margin: 16px;
    border-radius: 16px;
}
.box-4-shadow:hover {
    animation:shadow-drop-2-center-box .4s cubic-bezier(.25,.46,.45,.94) both;
}
.box-5 {
    height: 368px;
    border-radius: 16px;
    /* background: url("https://malleable-currant-5dc.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb5113e4d-400e-43b1-bb69-455838950153%2Fcontent3-cover.png?table=block&id=6844f0f3-c6e9-40e9-9416-f8b466c8033c&spaceId=a43e8e99-3697-4b79-ac94-491decf6ba64&width=2000&userId=&cache=v2"); */
    /* background-size: auto auto; */
    /* background-position: right; */
    background-color: royalblue;
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.08);
    display: block;
    overflow: hidden;
    animation:slide-bl3 .5s cubic-bezier(.25,.46,.45,.94) 0.28s both;
}
.box-5-shadow {
    height: 368px;
    margin: 16px;
    border-radius: 16px;
}
.box-5-shadow:hover {
    animation:shadow-drop-2-center-box .4s cubic-bezier(.25,.46,.45,.94) both;
}
.box-6 {
    width: 100%;
    height: 200px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url("https://malleable-currant-5dc.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb5113e4d-400e-43b1-bb69-455838950153%2Fcontent3-cover.png?table=block&id=6844f0f3-c6e9-40e9-9416-f8b466c8033c&spaceId=a43e8e99-3697-4b79-ac94-491decf6ba64&width=2000&userId=&cache=v2"); */
    /* background-size: auto auto; */
    /* background-position: right; */
    background-color: none;
    animation:slide-bl3 .5s cubic-bezier(.25,.46,.45,.94) 0.28s both;
}
/*----------------------
    컨텐츠 보드 제어 끝.
------------------------*/
/*----------------------
    보드 컨텐츠 제어.
------------------------*/
.largebox-head-wrapper {
    text-align: left;
    padding: 16px;
    height: 168px;
}
.smallbox-head-wrapper {
    text-align: left;
    padding: 16px;
    height: 168px;
}

.box-title-wrapper {
    height: 56px;
}
.largebox-title {
    display: table;
    height: 40px;
    font-size: 32px;
}
.smallbox-title {
    display: table;
    height: 40px;
    font-size: 24px;
}
.box-property-wrapper {
    width: 100%;
    height: 48px;
}
.box-subtitle-wrapper {
    float: left;
    display: table;
}
.box-subtitle-logo {
    font-size: 26px;
    padding-right: 8px;
}
.box-subtitle {
    background-color: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    border-radius: 12px;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    margin-top: 8px;
}
.box-tag-wrapper {
    height: 56px;
}
.box-tag {
    color: rgba(0, 0, 0, 0.38);
}
.box-body-wrapper {
    width: auto;
    height: auto;
    display: flex;
}
.box-img {
    object-fit: cover;  
    overflow: hidden;
}
.box-img-test {
    display: none;
}
.question-button {
    width: 320px;
    height: 60px;
    font-size: 18px;
    border: 0;
    border-radius: 32px;
    font-weight: 500;
}
.question-button:hover {
    width: 320px;
    height: 60px;
    font-size: 18px;
    border: 0;
    border-radius: 32px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.12);
}
/*----------------------
    보드 컨텐츠 제어 끝.
------------------------*/
/*----------------------
    본문 그리드 제어.
------------------------*/
.container {
    display: grid;
    grid-template-columns: 1fr 320px 320px 320px 320px 1fr;
    grid-template-rows: repeat(20, 100px);
}
.section-mainlogo {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: none;
}
.section-maintitle {
    grid-column: 2 / 6;
    grid-row: 2 / 4;
    background-color: none;
}
.section-1 {
    grid-column: 2 / 4;
    grid-row: 4 / 10;
    background-color: none;
}
.section-2 {
    grid-column: 4 / 6;
    grid-row: 4 / 10;
    background-color: none;
}
.section-3 {
    grid-column: 2 / 6;
    grid-row: 10 / 14;
    background-color: none;
}
.section-4 {
    grid-column: 2 / 4;
    grid-row: 14 / 18;
    background-color: none;
}
.section-5 {
    grid-column: 4 / 6;
    grid-row: 14 / 18;
    background-color: none;
}
.section-6 {
    grid-column: 2 / 6;
    grid-row: 18 / 20;
    background-color: none;
}
/*----------------------
    본문 그리드 제어 끝.
------------------------*/
/*----------------------
    푸터 그리드 제어.
------------------------*/
.container2 {
    display: grid;
    grid-template-columns: 1fr repeat(8, 160px) 1fr;
    grid-template-rows: repeat(27, 100px);
}
.section-7 {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: none;
}
.section-8 {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    background-color: none;
}
.section-9 {
    grid-column: 6 / 8;
    grid-row: 1 / 3;
    background-color: none;
}
.section-10 {
    grid-column: 8 / 10;
    grid-row: 1 / 3;
    background-color: none;
}
.section-11 {
    grid-column: 2 / 8;
    grid-row: 3 / 6;
    background-color: none;
}
.section-12 {
    grid-column: 8 / 10;
    grid-row: 3 / 6;
    background-color: none;
}
.footer-section-wrapper {
    margin: 16px;
    line-height: 36px;
    font-size: 15px;
}
.footer-section-wrapper-inline {
    margin: 16px;
    line-height: 36px;
    font-size: 12px;
}
.footer-content-wrapper-inline {
    color: rgba(0, 0, 0, 0.60);
    display: inline-flex;
    gap: 32px;
}
.footer-content-wrapper li {
    color: rgba(0, 0, 0, 0.60);
}
.footer-section-title {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.90);
}
#footer-inporant {
    font-weight: 700;
}
.copyright {
    color: rgba(0, 0, 0, 0.60);
    width: 200px;
    height: 40px;
    padding-top: 0px;
    display: block;
}
.concernsite-button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 32px;
    font-size: 14px;
}
footer {
    padding-top: 8px;
    border-top: rgba(0, 0, 0, 0.08) solid 1px;
}